a{
    color: #333333;
}
a:hover{
    text-decoration: none;
    color: rgb(255, 145, 0);
}
body{
    background: #f2f2f2;
}
.container{
    background: #ffffff;
}
.goods_imgbox{
    background: #ffffff;
    text-align: center;
}
.goods_imgbox img{
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.goods_info{
    background: #ffffff;
}
@media (min-width:768px){
    .goods_imgbox{
        height: 60em;
    }
    .goods_info{
        height: 60em;
    }
}