.nav{
	width: 1222px;
	height: 135px;
	position: relative;
	margin: 0 auto;
}
.nav .tel{
	width: 100%;
	height: 35px;
	background: #e0e0e0;
	position: relative;
}
.nav #Tel{
	position: absolute;
	right: 388px;
	top: 8px;
}
.nav .tel > span{
	position: absolute;
	right: 196px;
	top: 12px;
	font: 16px/16px "宋体",Arial;
}
.nav .border{
	width: 100%;
	height: 1px;
	background: #ffffff;
	position: absolute;
	bottom: 3px;
}
.nav .logo{
	width: 194px;
	height: 38px;
	background: url("../images/logo.png") no-repeat;
	position: absolute;
	top: 77px;
	left: 146px;
}
.nav .nav_menu{
	width: 645px;
	height: 48px;
	position: absolute;
	top: 70px;
	left: 432px;
}
.nav .nav_menu a{
	color: #000000;
}
.nav_menu span{
	display: inline-block;
	line-height: 45px;
	font-size: 13px;
	text-align: center;
}
.nav_menu .tab{
	width: 60px;
	margin-left: 14px;
	margin-right: 14px;
}
.nav_menu .tab:hover{
	font-weight: bold;
	border-bottom: 3px solid #000000;
	cursor: pointer;
}
.banner{
	width: 1222px;
	height: 400px;
	position: relative;
	background: url("../images/banner.png") no-repeat;
	margin: 0 auto;
}
.banner .icon_design{
	width: 373px;
	height: 72px;
	/* background: #e0e0e0; */
	border: 2px solid #ff0000;
	position: absolute;
	top: 164px;
	left: 0;
	right: 0;
	margin: 0 auto;
	cursor: pointer;
}
.banner .box{
	color: #ffffff;
	position: absolute;
	text-align: center;
}
.banner .box1{
	width: 58px;
	height: 58px;
	top: 7px;
	left: 7px;
	background: #ff0000;
}
.banner .box1 span{
	font: 28px/29px "楷体",Arial;
}
.banner .box2{
	width: 220px;
	height: 58px;
	top: 7px;
	left: 65px;
}
.banner .box2 span{
	font: bold 50px/58px "微软雅黑",Arial;
}
.banner .box3{
	width: 80px;
	height: 58px;
	top: 7px;
	right: 7px;
}
.banner .box3 span{
	font: 20px/29px "微软雅黑",Arial;
}
.banner .online_server{
	width: 25px;
	height: 112px;
	background: #ff0000;
	color: #ffffff;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	position: absolute;
	top: 100px;
	right: 0;
	text-align: center;
}
.banner .online_server span{
	display: inline-block;
	font: 12px/14px "微软雅黑",Arial;
}
.banner .online_server .angle{
	width: 0;
	height: 0;
	border: 9px solid;
	border-color: #ff0000 #ffffff #ff0000 #ff0000;
	margin-top: 5px;
}
.banner .online_server .server_number{
	width: 200px;
	height: 50px;
	background: #e0e0e0;
	position: absolute;
	top: 30px;
	right: 25px;
	display: none;
}
.banner .online_server:hover .server_number{
	display: block;
}

.ending{
	width: 1222px;
	height: 118px;
	background: #eaeaea;
	border-top: 1px solid #b4b4b4;
	margin: 0 auto;
	font: 12px/14px "微软雅黑",Arial;
	text-align: center;
}
.ending #first_end{
	margin-top: 30px;
}
.ending #first_end a{
	color: #000000;
	text-decoration: none;
}
.ending #first_end a:hover{
	color: #ff0000;
}
