.container{
    margin-top: 100px;
    position: relative;
}
.gear{
    position: absolute;
   
}
.gear1{
    width: 128px;
    height: 128px;
    left: 110px;
    background: url(../images/gear3.png) no-repeat;
    background-size: 128px;
     animation: turn2 4s linear infinite;
}
.gear2{
    width: 256px;
    height: 256px;
    background: url("../images/gear1.png");
    top: 115px;
    left: 47px;
     animation: turn1 4s linear infinite;
}
.gear3{
    width: 256px;
    height: 256px;
    background: url("../images/gear2.png");
    top: -20px;
    left: 242px;
     animation: turn2 4s linear infinite;
}
.disc{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image:radial-gradient(rgba(99, 99, 99, 0) 5%,rgba(99, 99, 99, 0.5) 95%);
    position: absolute;
    top: 65px;
    left: 175px;
}
@keyframes turn1{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
@keyframes turn2{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(-360deg);
    }
}