label{
    height: 300px;
    width: 300px;
    border: 2px solid #8F8686;
    border-radius: 50%;
    display: block;
}
label[for="jk"]{
    background: url("./image/jk.jpg");
}
label[for="lm"]{
    background: url("./image/lm.jpg");
}
label[for="op"]{
    background: url("./image/op.jpg");
}
label[for="qr"]{
    background: url("./image/qr.jpg");
}
label[for="st"]{
    background: url("./image/st.jpg");
}
label[for="uv"]{
    background: url("./image/uv.jpg");
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked+label{
    border: 2px solid #f00;
}
sapn{
    font-size: 24px;
    font-family: Son sum;
}