html,body{
    height: 100%;
    position: relative;
}

body{
    background: #eeeeee;
    font-size: 14px;
    color: #000000;
}

.swiper-container{
    width: 100%;
    height: 100%;
}

.swiper-slide{
    font-size: 18px;
    text-align: center;
    background: #ffffff;
}

.up-arrow{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 40px;
    width: 75px;
    z-index: 11;
    opacity: 0.8;
}

.up-arrow img{
    width: 100%;
    animation: upArrow 1.5s infinite ease-in-out;
}

/*音乐播放*/
@-webkit-keyframes music{
	to{
		transform: rotate(360deg);
	}
}

.btn-music-on{
	position: absolute;
	background: url('../images/musicBtn.png') 50% 50% no-repeat;
	padding: 50px;
	z-index: 9999;
	top: 0;
	right: 0;
	animation: music 5s infinite linear;
}
.btn-music-off{
	background: url('../images/musicBtnOff.png') 50% 50% no-repeat;
}

/*音乐播放*/
@-webkit-keyframes music{
	to{
		transform: rotate(360deg);
	}
}

.btn-music-on{
	position: absolute;
	background: url('../images/musicBtn.png') 50% 50% no-repeat;
	padding: 50px;
	z-index: 9999;
	top: 0;
	right: 0;
	animation: music 5s infinite linear;
}
.btn-music-off{
	background: url('../images/musicBtnOff.png') 50% 50% no-repeat;
}
/*第一页*/
.index-txt,
.index-txt img:nth-child(2),
.index-txt img:nth-child(3),
.index-flight,
.index-element,
.index-cloud,
.index-stars,
.index-building{
	position: absolute;
}

.index-txt,.index-flight{
    text-align: center;
    z-index: 9;
}

.index-txt{
    width: 100%;
    height: 250px;
    margin: 15% 0 10%;
    top: 0;
    left: 0;
    right: 0;
}

.index-txt img:nth-child(1){
    width: 60%;
}

.index-txt img:nth-child(2){
    width: 80px;
    left: 65px;
}

.index-txt img:nth-child(3){
    width: 80px;
    top: 130px;
    right: 65px;
}

.index-flight{
    top: 43%;
    left: 0;
    right: 0;
}

.index-flight img{
    width: 75%;
}

.index-element{
    top: 120px;
    left: 0;
    right: 0;
    z-index: 3;
}

.index-flight img, .index-element img{
    animation: zoom 3s infinite linear;
}

.index-element img{
    animation-delay: 1s;
}

.index-cloud{
    top: 100px;
    left: 0;
    right: 0;
    z-index: 2;
}

.index-cloud img{
    animation: zoom 3s infinite linear;
    animation-delay: 2s;
}

.index-stars{
    z-index: 0;
}

.index-stars img{
    animation: zoom 3s infinite linear;
    animation-delay: 0.5s;
}

.index-building{
    bottom: 0;
}

/*第二页*/
.swiper-slide:nth-child(2){
    background: #000000;
}
.second-bg,.second-star,.second-txt{
    position: absolute;
}

.second-bg{
    width: 100%;
    height: 100%;
    background: url("../images/wasBg.jpg") 50% 100% no-repeat;
}

.second-star{
    text-align: center;
    z-index: 9;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.second-txt{
    top: 30%;
    left: 10%;
    position: relative;
    z-index: 11;
}

.second-txt .was-txt:nth-child(2){
    margin-top: 50px;
}

/* 第三页 */

.swiper-slide:nth-child(3){
    z-index: 10;
    background: #01172c;
}

.early-bg{
	position: absolute;
	top: 0;
	left: 0;
}
.title{
	position: absolute;
	top: 5%;
    left: 5%;
    z-index: 100;
}

.b-build{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.block-page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.abs{
    position: absolute;
}

.last-bus{
    position: absolute;
    bottom: 5%;
    left: -20px;
}

.bus-avatar{
    right: 0;
    bottom: 5%;
}

.where-bg{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000000;
}

.where-bg img{
    width: 100%;
    height: 100%;
}

.where-wall {
    bottom: 0;
    right: 0;
    height: 60%;
}

.where-txt {
    width: 100%;
    bottom: 12%;
    text-align: center;
}
.where-myteam {
    left: 15%;
    top: 30%;
}
.wall-avatar{
    position: relative;
    width: 100%;
    height: 100%;
}
.where-avatar{
    z-index: 3;
    right: 5%;
    bottom: 51%;
}

/* 第四页 */

.light-on{
    display: none;
    background: #1a7fdc;
}

.light-btn-on{
    display:none;
}

/* 灯 */
.light-btn{
    left: 2%;
    top: 15%;
    z-index: 2;
}

/* 暗灯背景 */
.light-page{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.light-off{
    background-color: #302e5c;
}

.light-page .light-bg{
    bottom: -2px;
    z-index: 1;
}

.light-title{
    top:5%;
	right: 0;
	z-index: 3;
}

.light-click-guide{
	left: 30%;
	top: 28%;
	z-index: 3;
}
.light-off-wall{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.light-flowers{
	right: 5%;
	bottom: -12px;
	z-index: 2;
}
.light-knowyou{
	top: 15%;
	left: 32%;
	z-index: 2;
}