html,body{
    margin: 20px;
    padding: 0;
}

.sign{
    width: 450px;
    height: 600px;
    background-color: #fafbfc;
    position: relative;
}
input{
    width: 390px;
    height: 50px;
    background-color: #fff;
    font-size: 20px;
    margin: 10px;
    border-top-color: #85898d;
}
p{
    width: 390px;
    
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    margin: 0;
}
a{
    color: #406eba;
    text-decoration:none;
}
img{
    width: 126px;
    position: absolute;
    margin-top: 18px;
    right: 110px;
}
#newpage{
    width: 64px;
    position: absolute;
    right: 46px;
    margin-top: 10px;
}
.reg{
    width: 390px;
    height: 50px;
    color: #fff;
    background-color: #69b3f2;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    margin: 10px;
}
.button>input{
    width: 12px;
    height: 12px;
    margin-top: 0px;
}
.button>span{
    font-size: 12px;
    margin-left: -5px;
}
.button :nth-child(3),.button :nth-child(5){
    color: #406eba;
    font-weight: bold;
}